<div class="card">
    <p-panel header="YouTube videos summaries" [toggleable]="true" class="line-height-3 m-0">
        <p style="font-size: 1.2rem;">Transcribe and summarize YouTube videos effortlessly!:</p>
        <div class="flex justify-content-center md:justify-content-end">
            <img src="assets/graphics/Video files-amico.svg" alt="YouTube image" class="w-3">
        </div>
        
        <ul style="font-size: 1.2rem;">
            <li><strong>Transcribe & Summarize:</strong> Here, you can provide YouTube URLs to transcribe and summarize video content with ease.</li>
            <!-- Add any additional items related to transcribing and summarizing YouTube videos here -->
        </ul>
    </p-panel>
</div>

<p>Remote URL transcription service</p>
<div class="card">
    <h5>Generate transcription from remote URL (youtube)</h5>
    <form (ngSubmit)="generateRemoteTranscription(transcriptionName)" #transcriptionForm="ngForm">
        
        <div class="col-12 mb-2" style="width: 100%">
            <input type="text" pInputText placeholder="url of the audio you want to transribe" name="r_url" [(ngModel)]="remote_url" required style="width: 800px;">
        </div>


        <div class="row">
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLanguage" name="selectedLanguage" placeholder="Select the language used in the audio" [showClear]="true" ngModel #selectedLanguageModel="ngModel" required></p-dropdown>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
            <input type="text" pInputText placeholder="Name of the transcription" name="transcriptionName" [(ngModel)]="transcriptionName" required #transcriptionNameModel="ngModel">
        </div>
        <button type="submit" pButton pRipple [disabled]="!transcriptionForm.valid">Generate</button>
    </form>
</div>

<p-toast key="tst"></p-toast>



       


<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4">
                <h5 class="m-0">User transcriptions</h5>
                <span class="flex items-center">
                    <i class="pi pi-search mr-1"></i>    
                    <input pInputText type="text" (input)="onGlobalFilter($event.target.value)" placeholder="Search..." class="w-full lg:w-96"/>
                </span>
            </div>
            <p-table [value]="filteredTransData" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <!-- <th>User</th> -->
                        <th pSortableColumn="remoteurl">URL <p-sortIcon field="Transcriptionname"></p-sortIcon></th>
                        <th pSortableColumn="remote_title">YT title <p-sortIcon field="file"></p-sortIcon></th>
                        <th pSortableColumn="trans_name">Transcription name <p-sortIcon field="file"></p-sortIcon></th>
                        <th pSortableColumn="uploaded_at">Uploaded At <p-sortIcon field="uploaded_at"></p-sortIcon></th>
                        <th pSortableColumn="transcript">Transcript<p-sortIcon field="transcript"></p-sortIcon></th>
                        <th>Action</th> <!-- Add this column for edit and delete action -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transcription>
                    <tr>
                        <td>{{ transcription.id }}</td>
                        <td>{{ transcription.remoteurl }}</td>
                        <td>{{ transcription.remote_title }}</td>
                        <td>{{ transcription.trans_name }}</td>
                        <td>{{ transcription.uploaded_at }}</td>
                        <td>{{ transcription.transcript | slice:0:200 | htmlToPlain }}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-play" class="p-button-rounded p-button-success mr-2" (click)="playAudio(audioFile, transcription)"></button>
                                <!---<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editAudioFile(audioFile)"></button> -->
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTranscription(transcription.trans_name, transcription.uploaded_at)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
            
            <!-- Dialog for editing audio file details -->
<p-dialog [(visible)]="editDialogVisible" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <!-- Replace the content with fields for editing audio file details -->
        <div class="field">
            <label for="fileName">File Name</label>
            <input type="text" pInputText id="fileName" [(ngModel)]="selectedAudioFile.file" required autofocus />
        </div>
        <!-- Add more fields for editing audio file details as needed -->
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAudioFile()"></button>
    </ng-template>
</p-dialog>


<!-- Dialog for playing audio file -->
<p-dialog [(visible)]="playDialogVisible"  header="Play Audio" [modal]="true" class="p-fluid"
[style]="{ 'max-width': '90vw', 'width': '100%' }">

    <ng-template pTemplate="content">
        
        
        <!-- Move the card with p-panel here -->
        <div class="card">
            <p-panel header="Transkrypcja" [toggleable]="true" class="line-height-3 m-0">
                <p [innerHTML]="getCurrentTranshtml()"></p>
                <!-- <p>{{ getCurrentTrans() }}</p> -->

            </p-panel>
        </div>

        <div class="card">
            <p-panel header="Video" [toggleable]="true" class="line-height-3 m-0">
                <iframe width="560" height="315" 
                [src]="safe_url" 
                title="YouTube video player" frameborder="0" allow="accelerometer;
                autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture; web-share" allowfullscreen></iframe>
            </p-panel>
        </div>

        <div class="card">
            <p-panel header="Summary" [toggleable]="true" class="line-height-3 m-0">
                <p>{{ transcriptionsummaryData }}</p>
                <div class="flex flex-wrap gap-2">
                    <button pButton pRipple type="button" label="Regenerate summary" class="p-button-raised" (click)="regenerate_summary()"></button>
                 </div>    
            </p-panel>
        </div>

        <div class="card">     
            <p-panel header="Editor" [toggleable]="true" class="line-height-3 m-0">
                    <angular-editor [placeholder]="'Enter text here ....'" [(ngModel)] ="htmlContent" [config]="editorConfig"></angular-editor>
                    <button pButton pRipple type="button" label="Save edit" class="p-button-raised" (click)="save_edited_transcript_remote()"></button>
            </p-panel>
        </div>



        <div class="card">     
            <p-panel header="Notes" [toggleable]="true" class="line-height-3 m-0">
                <p>{{ transcriptionNotesData }}</p>
                <div class="flex flex-wrap gap-2">
                    <button pButton pRipple type="button" label="Regenerate notes" class="p-button-raised" (click)="regenerate_notes()"></button>
                </div>    
            </p-panel>
        </div>  

        <div class="card">     
            <p-panel header="Subtitles" [toggleable]="true" class="line-height-3 m-0">
                <p>{{transcription_seconds_data}}</p>
            </p-panel>
        </div>

        
        <div class="card">
            <form (ngSubmit)="onSubmitQuestion()" #transcriptionForm="ngForm">
                <p-panel header="Ask a question about the transcription" [toggleable]="true" class="line-height-3 m-0">
                    <textarea rows="8" cols="240" placeholder="Your question" pInputTextarea name="question" [(ngModel)]="question" required></textarea>
                    <button type="submit" pButton pRipple [disabled]="!transcriptionForm.valid">Ask</button>
                </p-panel>
            </form>
            
            <p-panel header="Answer" [toggleable]="true" class="line-height-3 m-0">
                <p>{{ answer }}</p>
            </p-panel>
        </div>
                
         
        <div class="card">     
            <p-panel header="Speaker Diarization" [toggleable]="true" class="line-height-3 m-0">
                <p>{{transcription_speaker_diarization}}</p>
            </p-panel>
        </div>


    </ng-template>

    <!-- Remove the card with p-panel from the outer content -->
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hidePlayDialog()"></button>
    </ng-template>
</p-dialog>



        </div>
    </div>
</div>