<div class="card">
    <p-panel header="Customize Preferences" [toggleable]="true" class="line-height-3 m-0">
        <p style="font-size: 1.2rem;">Tailor your experience by customizing your user preferences in the profile page. Personalize your settings to suit your needs and preferences.</p>
        <div class="flex justify-content-center md:justify-content-end">
            <img src="assets/graphics/Palette-rafiki.svg" alt="profile image" class="w-3">
        </div>
        
        <ul style="font-size: 1.2rem;">
            <li><strong>Change Theme:</strong> Customize the look and feel of TonalityWEB by selecting different themes. Choose from a variety of color palettes to suit your preferences.</li>
            <li><strong>Light/Dark Mode:</strong> Switch between light and dark modes for optimal viewing comfort. Enjoy a personalized viewing experience that matches your environment.</li>
            <!-- Add any additional items related to profile customization here -->
        </ul>
    </p-panel>
</div>