<div class="card">
    <p-panel header="Customize Preferences" [toggleable]="true" class="line-height-3 m-0">
        <p style="font-size: 1.2rem;">Tailor your experience by customizing your user preferences in the profile page. Personalize your settings to suit your needs and preferences.</p>
        <div class="flex justify-content-center md:justify-content-end">
            <img src="assets/graphics/Palette-rafiki.svg" alt="profile image" class="w-3">
        </div>
        
        <ul style="font-size: 1.2rem;">
            <li><strong>Change Theme:</strong> Customize the look and feel of TonalityWEB by selecting different themes. Choose from a variety of color palettes to suit your preferences.</li>
            <li><strong>Light/Dark Mode:</strong> Switch between light and dark modes for optimal viewing comfort. Enjoy a personalized viewing experience that matches your environment.</li>
            <!-- Add any additional items related to profile customization here -->
        </ul>
    </p-panel>
</div>

<div class="card">
    <p-panel header="Customize Preferences" [toggleable]="true" class="line-height-3 m-0">
    <h5>Available themes</h5>
        <div class="grid">
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-indigo', 'light')">
                    <img src="assets/layout/images/themes/lara-light-indigo.png" class="w-2rem h-2rem" alt="Lara Light Indigo">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-blue', 'light')">
                    <img src="assets/layout/images/themes/lara-light-blue.png" class="w-2rem h-2rem" alt="Lara Light Blue">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-purple', 'light')">
                    <img src="assets/layout/images/themes/lara-light-purple.png" class="w-2rem h-2rem" alt="Lara Light Purple">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-light-teal', 'light')">
                    <img src="assets/layout/images/themes/lara-light-teal.png" class="w-2rem h-2rem" alt="Lara Light Teal">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-indigo', 'dark')">
                    <img src="assets/layout/images/themes/lara-dark-indigo.png" class="w-2rem h-2rem" alt="Lara Dark Indigo">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-blue', 'dark')">
                    <img src="assets/layout/images/themes/lara-dark-blue.png" class="w-2rem h-2rem" alt="Lara Dark Blue">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-purple', 'dark')">
                    <img src="assets/layout/images/themes/lara-dark-purple.png" class="w-2rem h-2rem" alt="Lara Dark Purple">
                </button>
            </div>
            <div class="col-3">
                <button class="p-link w-2rem h-2rem" (click)="changeTheme('lara-dark-teal', 'dark')">
                    <img src="assets/layout/images/themes/lara-dark-teal.png" class="w-2rem h-2rem" alt="Lara Dark Teal">
                </button>
            </div>
        </div>
    </p-panel>
</div>